.container {
    background-color: #3A5041;
    height: 71px;
    width: 100%;
}

.text {
    display: flex;
    justify-content: center;
    height: 28px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    padding-top: 21px;
}