.box {
    margin: auto;
    max-width: 1759px;
    margin-top: 109px;
}

.block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 66px;
}

.photo {
    height: 1000px;
    width: 994px;
}

.name {
    height: 56px;
    font-family: Outfit;
    font-size: 55px;
    font-weight: 300;
    line-height: 56px;
    color: #272727;
}

.top {
    display: flex;
    gap: 11px;
    margin-top: 20px;
}

.price {
    height: 56px;
    width: 116px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    color: #FF5B5B;
}

.promotional_price {
    text-decoration: line-through;
    height: 56px;
    width: 116px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    color: #C4C4C4;
}

.discount {
    height: 56px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    color: #FF5B5B;
}

.id,
.kind {
    display: none;
}

.button {
    height: 32px;
    width: 230px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.265em;
    color: white;
}

.order {
    height: 103px;
    width: 659px;
    background-color: #B58269;
    border-color: transparent;
    cursor: pointer;
    margin-top: 222px;
}

.checkoutBox {
    text-align: center;
    margin-top: 30px;
}

.checkout {
    height: 40px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
}

.icons {
    display: flex;
    margin-top: 26px;
    gap: 30px;
    justify-content: center;
    cursor: pointer;
}

.deliveryBox {
    background-color: #F3F3F3;
    height: 187px;
    width: 659px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 27px;
    gap: 35px;
}

.delBox {
    margin-top: 47px;
    margin-left: 36px;
}

.title {
    height: 32px;
    width: 318px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.265em;
    color: #545454;
    margin-top: 30px;
}

.text {
    margin-top: 11px;
    height: 84px;
    width: 526px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 42px;
    color: #545454;
}