.box {
    margin: auto;
    max-width: 1759px;
    margin-top: 109px;
}

.block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 66px;
}

.photo {
    height: 1000px;
    width: 994px;
}

.name {
    height: 56px;
    font-family: Outfit;
    font-size: 55px;
    font-weight: 300;
    line-height: 56px;
    color: #272727;
}

.top {
    display: flex;
    gap: 11px;
    padding-top: 50px;
}

.price {
    height: 56px;
    width: 116px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    color: #FF5B5B;
}

.promotional_price {
    text-decoration: line-through;
    height: 56px;
    width: 116px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    color: #C4C4C4;
}

.discount {
    height: 56px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    color: #FF5B5B;
}

.id,
.kind {
    display: none;
}

.button {
    height: 32px;
    width: 230px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.265em;
    color: white;
}

.order {
    height: 103px;
    width: 659px;
    background-color: #B58269;
    border-color: transparent;
    cursor: pointer;
    margin-top: 30px;
}

.checkoutBox {
    text-align: center;
    margin-top: 30px;
}

.checkout {
    height: 40px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
}

.icons {
    display: flex;
    margin-top: 26px;
    gap: 30px;
    justify-content: center;
    cursor: pointer;
}

.deliveryBox {
    background-color: #F3F3F3;
    height: 187px;
    width: 659px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 27px;
    gap: 35px;
}

.delBox {
    margin-top: 47px;
    margin-left: 36px;
}

.title {
    height: 32px;
    width: 318px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.265em;
    color: #545454;
    margin-top: 30px;
}

.text {
    margin-top: 11px;
    height: 84px;
    width: 526px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 42px;
    color: #545454;
}

.aluminiumFurnitureBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 130px;
    gap: 180px;
}

.icon {
    height: 690px;
    width: 851px;
}

.aluminiumTitle {
    height: 82px;
    width: 726px;
    font-family: Outfit;
    font-size: 65px;
    font-weight: 400;
    line-height: 82px;
    color: #000000;
}

.aluminiumText {
    height: 480px;
    width: 757px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    color: #848484;
}

.shopTitle {
    margin-top: 100px;
    height: 95px;
    width: 962px;
    font-family: Outfit;
    font-size: 75px;
    font-weight: 500;
    line-height: 95px;
    color: #272727;
    margin-left: 377px;
}

.reviews {
    height: 69px;
    width: 321px;
    font-family: Outfit;
    font-size: 55px;
    font-weight: 300;
    line-height: 69px;
    color: #1D1F1F;
}

.reviewsBox {
    display: flex;
    margin-bottom: 100px;
}

.buttonReview {
    height: 40px;
    width: 178px;
    font-family: HK Grotesk;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    color: white;
}

.orderReview {
    background-color: #3A5040;
    border-color: transparent;
    cursor: pointer;
    height: 103px;
    width: 249px;
}

.buttonBox {
    margin-left: 1140px;
}

.colorBox {
    margin-top: 100px;
}

.colorTitle {
    height: 33px;
    width: 83px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    color: #000000;
    margin-bottom: 11px;
}

.img {
    padding-left: 5px;
}