.box {
    margin: auto;
    max-width: 1759px;
    margin-top: 31px;
}

.block {
    width: 355px;
}

.sofaBox {
    display: flex;
    gap: 30px;
}

.sofa {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #888887;
    cursor: pointer;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}

.seats {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #888887;
    cursor: pointer;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}

.chairs {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #888887;
    cursor: pointer;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}

.sectionals {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #888887;
    cursor: pointer;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}

.ottomans {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #888887;
    cursor: pointer;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}

.lounges {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #888887;
    cursor: pointer;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}

.collections {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #888887;
    cursor: pointer;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}

.seatsBox {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.chairsBox {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.sectionalsBox {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.ottomansBox {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.loungesBox {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.collectionsBox {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.checkboxSofa {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.checkboxseats {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.checkboxChairs {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.checkboxSectionals {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.checkboxOttomans {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.checkboxLounges {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.checkboxCollections {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}