.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 47px;
}

.photo {
    height: 393px;
    width: 393px;
}

.name {
    min-width: 177px;
    max-width: 275px;
    height: 33px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    color: #888887;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}

.price {
    height: 33px;
    width: 118px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    color: #888887;
    margin-top: 11px;
}

.id {
    display: none;
}

.button {
    height: 33px;
    width: 99px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    color: white;
}

.order {
    height: 57px;
    width: 395px;
    background-color: #B58269;
    border-color: transparent;
    cursor: pointer;
    margin-left: -5px;
    margin-top: 22px;
    margin-bottom: 117px;
}