.box {
    position: relative;
    background-color: white;
    height: 139px;
    width: 100%;
}

.block {
    margin: auto;
    max-width: 1759px;
    display: flex;
}

.title {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    margin-top: 55px;
}

.name {
    display: flex;
    gap: 40px;
}

.part {
    display: flex;
    gap: 42px;
}

.top {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cart {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 58px;
}

.search {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 58px;
}

.secondPart {
    margin-left: auto;
}

.home {
    padding: 0;
    border: none;
    background: transparent;
    height: 33px;
    width: 54px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    text-decoration: none;
    color: #00264B;
    cursor: pointer;
}

.product {
    padding: 0;
    border: none;
    background: transparent;
    height: 33px;
    width: 80px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    color: #BEBFBE;
    cursor: pointer;
}

.showroom {
    padding: 0;
    border: none;
    background: transparent;
    height: 33px;
    width: 96px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: #BEBFBE;
    cursor: pointer;
}

.aboutUs {
    padding: 0;
    border: none;
    background: transparent;
    color: #BEBFBE;
    height: 33px;
    width: 83px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    cursor: pointer;
}

.contact {
    color: #BEBFBE;
    height: 33px;
    width: 72px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
}

.login {
    margin-top: 58px;
    height: 33px;
    width: 115px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: #888887;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.dealer {
    margin-top: 58px;
    color: #878787;
    height: 33px;
    width: 157px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.retail {
    margin-top: 58px;
    color: #878787;
    height: 33px;
    width: 116px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.border {
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
    margin-top: 51px;
}

@media screen and (max-width:479.98px) {
    .box {
        margin: auto;
        max-width: 450px;
    }
    .logo {
        height: 45px;
        width: 217px;
    }
    .box {
        height: 100px;
    }
    .title {
        display: none;
    }
    .login {
        display: none;
    }
    .dealer {
        display: none;
    }
    .retail {
        display: none;
    }
    .search {
        display: none;
    }
    .cart {
        margin-top: 20px;
        margin-right: 20px;
    }
    .top {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width:746.98px) {
    .title {
        display: none;
    }
    .login {
        display: none;
    }
    .dealer {
        display: none;
    }
    .retail {
        display: none;
    }
    .box {
        margin: auto;
        max-width: 720px;
    }
    .logo {
        height: 45px;
        width: 217px;
    }
    .top {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .box {
        height: 100px;
    }
    .search {
        display: none;
    }
    .cart {
        margin-top: 40px;
        margin-right: 20px;
    }
}