.box {
    position: relative;
    background-color: white;
    height: 139px;
    width: 100%;
}

.block {
    margin: auto;
    max-width: 1759px;
    display: flex;
}

.title {
    display: flex;
    gap: 40px;
    margin-top: 55px;
}

.name {
    display: flex;
    gap: 40px;
}

.part {
    display: flex;
    gap: 42px;
}

.top {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.secondPart {
    position: absolute;
    margin: 59px 1147px;
}

.home {
    height: 33px;
    width: 54px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    text-decoration: none;
    color: #00264B;
}

.product {
    height: 33px;
    width: 80px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    color: #BEBFBE;
    text-decoration: none;
}

.showroom {
    height: 33px;
    width: 96px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: #BEBFBE;
}

.aboutUs {
    color: #BEBFBE;
    height: 33px;
    width: 83px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}

.contact {
    color: #BEBFBE;
    height: 33px;
    width: 72px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}

.login {
    height: 33px;
    width: 115px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: #888887;
}

.dealer {
    color: #878787;
    height: 33px;
    width: 157px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}

.retail {
    color: #878787;
    height: 33px;
    width: 116px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}