.photo {
    height: 1000px;
    width: 994px;
}

.name {
    height: 56px;
    font-family: Outfit;
    font-size: 55px;
    font-weight: 300;
    line-height: 56px;
    color: #272727;
}

.top {
    display: flex;
    gap: 11px;
    margin-top: 20px;
}

.price {
    height: 56px;
    width: 116px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    color: #FF5B5B;
}

.promotional_price {
    text-decoration: line-through;
    height: 56px;
    width: 116px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    color: #C4C4C4;
}

.discount {
    height: 56px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    color: #FF5B5B;
}

.id,
.kind {
    display: none;
}