.box {
    position: relative;
    margin: auto;
    max-width: 1759px;
    margin-top: 110px;
}

.main {
    margin: auto;
    max-width: 1759px;
    height: 500px;
}

.block {
    position: absolute;
}

.title {
    height: 82px;
    font-family: Outfit;
    font-size: 65px;
    font-weight: 400;
    line-height: 82px;
    color: white;
}

.text {
    height: 82px;
    width: 856px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.265em;
    color: white;
    margin-left: 720px;
    margin-top: 170px;
}

.titleBox {
    margin-left: 425px;
    margin-top: 110px;
}

.searchBox {
    padding: 0;
    border: none;
    background: transparent;
    color: #888887;
}

.part {
    display: flex;
    margin: auto;
    max-width: 1759px;
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
    margin-left: 85px;
    margin-top: 100px;
}

.kind {
    display: none;
}