.block {
    margin: auto;
    max-width: 1719px;
}

.title {
    margin-top: 157px;
    height: 83px;
    font-family: Outfit;
    font-size: 75px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: 0px;
    color: #545454;
    margin-bottom: 28px;
}

.icon1 {
    height: 480px;
    width: 25%;
    opacity: 1;
}

.icon2 {
    height: 480px;
    width: 25%;
    opacity: 1;
}

.icon3 {
    height: 480px;
    width: 25%;
    opacity: 1;
}

.icon4 {
    height: 480px;
    width: 25%;
    opacity: 1;
}

.icon4:hover {
    opacity: 0.7;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.icon1:hover {
    opacity: 0.7;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.icon2:hover {
    opacity: 0.7;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.icon3:hover {
    opacity: 0.7;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.text {
    height: 32px;
    width: 259px;
    left: 50px;
    top: 30px;
    border-radius: nullpx;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.265em;
}

.iconBox {
    margin-bottom: -10px;
}