.title {
    font-family: Outfit;
    font-size: 55px;
    font-weight: 300;
    line-height: 69px;
    height: 69px;
    width: 241px;
}

.block {
    display: flex;
}

.bt {
    height: 74px;
    width: 325px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    margin-top: -23px;
}

.box {
    margin: auto;
    width: 1759px;
    margin-top: 100px;
}

.showing {
    width: 500px;
    height: 33px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    margin-left: 200px;
}

.sort {
    height: 33px;
    width: 82px;
    font-family: HK Grotesk;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    display: flex;
    justify-content: flex-end;
}

.sortBox {
    display: flex;
    gap: 36px;
    margin-left: 400px;
}